@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Noto+Sans+JP:wght@300;400;500;600;700&display=swap');
@import 'styles/_variables';

html, body {
  font-family: 'Noto Sans JP', sans-serif;
  color: $color-text-dark;
}

a {
  text-decoration: none;
  color: inherit;
}

.english-text {
  font-family: 'Inter', sans-serif;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}

.d-inline-flex {
  display: inline-flex;
}

.d-none {
  display: none !important;
}

.bg-dark-600 {
  background: $color-dark-600;
  color: $color-text-light;
}

.bg-dark-500 {
  background: $color-dark-500;
  color: $color-text-light;
}

.menu-list {
  list-style: none;
  padding-inline: 0;
  margin-block: 0;
}
