@import 'styles/_variables';

.mealHistoryItemList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 18px;
  margin-bottom: 32px;
}

.btnLoadMore {
  display: block;
  background: $bg-300-400;
  margin: 0 auto 64px;
  padding: 15px 64px;
  color: $color-text-light;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
}
