@import 'styles/_variables';
@import 'styles/_mixins';

.mealHistoryItemList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 18px;
  margin-bottom: 32px;

  @include breakpoint-down('lg') {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  @include breakpoint-down('sm') {
    grid-template-columns: 1fr;
  }
}

.btnLoadMore {
  display: block;
  margin: 0 auto 64px;
}
